html {background-color: rgb(34, 34, 34);}
   
h1 { text-align: center; padding: 20px; font-size: 80px; font-family: Verdana, Geneva, Tahoma, sans-serif; color: whitesmoke;}

h2 {text-align: left; padding: 75px; font-size: 20px; border: whitesmoke outset 5px;}

body {text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; color: whitesmoke; }

head {border-top: black 5px;}

.topNav {
    list-style-type: none;
    text-align: right;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-top: 0px;
    background-color: rgb(99, 99, 99);

}

.searchBox {font-size: 15px; padding: 10px; float: left; width: auto;}

input{border: black 2px outset; border-radius: 5px; width: auto; height: auto;}


.navlogo {
   display: block;
   border-radius: 50px;
  
}



li {
   display: inline;
   padding: 10px;
   list-style: color rgb(255, 255, 255); font-family:Verdana, Geneva, Tahoma, sans-serif;
}

label {
   list-style-type: none;
   font-size: 15px;
   text-align: center;
   color: white;
   padding-right: 100px;
   margin-top: 0px;
   border: whitesmoke ;
}


