html {background-color: rgb(34, 34, 34);}
   
h1 { text-align: center; padding: 20px; font-size: 80px; font-family: Verdana, Geneva, Tahoma, sans-serif; color: whitesmoke;}

h2 {text-align: left; padding: 75px; font-size: 20px; border: whitesmoke outset 5px;}

body {text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; color: whitesmoke; }

head {border-top: black 5px;}

.topNav {
    list-style-type: none;
    text-align: right;
    font-size: 20px;
    color: white;
    padding: 25px;
    margin-top: 0px;
}

.navlogo {
   display: block;
   border-radius: 50px;
   border: whitesmoke outset 5px;
   box-sizing: border-box;
   height: auto;
   width: auto;
}

li {
   display: inline;
   padding: 10px;
   position: relative;
   list-style: color rgb(255, 255, 255); font-family:Verdana, Geneva, Tahoma, sans-serif;
}

label {
   list-style-type: none;
   font-size: 15px;
   text-align: center;
   color: white;
   padding-right: 100px;
   margin-top: 0px;
   border: whitesmoke ;
}




.image { float: left; width: 20%; }
.product-description { line-height: 1.4em;}
.product-removal { float: right; width: 9%; }
.product-price { float: left; width: 12%; text-align: right; }
.productQuantity { float: left; width: 15%; }
